@charset "UTF-8";
body.row {
  --bs-gutter-x: 0;
}

.background {
  background-color: #CA4A65;
}

button a {
  text-decoration: none;
  color: black;
}
button.miBtn {
  background-color: #F8BF68;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: auto;
}
button.miBtn:hover {
  background-color: #F7B147;
  transition: all 0.5s;
}
button.btn {
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: auto;
}
button.btn:hover {
  transition: all 0.5s;
}
@media only screen and (max-width: 991px) {
  button {
    width: fit-content;
  }
  button.btn {
    background-color: inherit;
    border: inherit;
    border-radius: 2px;
    padding: 0px;
    width: auto;
    top: 2px;
    right: 0px;
    bottom: 5px;
    left: 2px;
    display: block;
    width: fit-content;
  }
  button.miBtn {
    background-color: inherit;
    border: inherit;
    border-radius: 2px;
    padding: 0px;
    width: auto;
    top: 7px;
    right: 0px;
    bottom: 5px;
    left: 0px;
    display: block;
  }
}

.estudiante {
  display: none;
}
@media only screen and (max-width: 991px) {
  .estudiante {
    display: block;
  }
  .estudiante img.birreteDesplegable {
    width: 30px;
  }
}

img.image1 {
  height: 38px;
  width: auto;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
img.image2 {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  img.image2 {
    display: block;
    width: 38px;
    cursor: pointer;
  }
  img.image1 {
    display: none;
  }
}
img.birrete {
  background-color: none;
  border: none;
  border-radius: 5px;
  padding: 0px;
  width: 35px;
  cursor: pointer;
}
img.birrete:hover {
  transform: scale(1.1);
  background-color: #F8BF68;
  transition: all 0.5s;
}
@media only screen and (max-width: 991px) {
  img.birrete.birrete {
    display: none;
  }
}

.navbar-collapse {
  flex-grow: inherit;
}

.widthForm {
  width: 65rem;
}

.row {
  --bs-gutter-x: 0;
}

@media only screen and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

button img.arrow {
  border: solid black 2px;
  border-radius: 5px;
  background-color: #F8BF68;
}

div.carouselGradiente {
  position: absolute;
  background: linear-gradient(180deg, transparent 0, transparent 20%, rgba(0, 0, 0, 0.7) 83.5%, rgba(0, 0, 0, 0.9));
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  height: 200px;
  padding-bottom: 130px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
div h5.descripcionCarousel, div p.descripcionCarousel {
  color: white;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .carousel-control-prev {
    left: 0px;
  }
}

.carousel-inner {
  height: fit-content;
}

.contenedorDeComentarios {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: start;
  top: 10%;
  right: 10%;
  bottom: 0px;
  left: 0px;
  height: 26em;
  width: 80%;
  padding: 0;
}

.contenedorCarouselComentarios {
  margin-left: 8em;
  width: calc(100vw - 10em);
  flex-wrap: nowrap;
  height: fit-content;
}
@media (min-width: 0px) and (max-width: 1200px) {
  .contenedorCarouselComentarios.contenedorCarouselComentarios {
    margin-left: 0;
    width: max-content;
  }
}

.fotoUsuario {
  height: 40%;
  width: 10%;
  padding: 0;
}

.comentarios {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: none;
  height: fit-content;
  width: 100%;
  padding: 0%;
}

.contenedorPadreComentarios {
  padding: 0;
  margin-left: 0%;
  width: 100%;
  margin-right: -100%;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 1200px) {
  .contenedorPadreComentarios {
    display: none;
  }
}

.cajaComentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  height: 20%;
  width: 100%;
}

p.reseñas {
  font-size: 1em;
}

a {
  text-decoration: none;
}

section.contenedorPostersDePeliculas {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  width: 100vw;
  height: 100%;
}
section div.position {
  position: relative;
}
section div.position2 {
  position: relative;
}
section div.primerFilaPosters, section div.tercerFilaPosters {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
}
section div.posterPelicula {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20.5%;
  text-align: center;
  height: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  section div.posterPelicula.posterPelicula {
    width: 35%;
  }
}
section div.segundaFilaPosters {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
}
section.mobile {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  section.mobile {
    display: block;
  }
  section.desktop {
    display: none;
  }
}

img.posters {
  height: 62.8%;
  width: 100%;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  img.posters.posters {
    height: 62.8%;
    width: 100%;
  }
}
img.botonFavoritos {
  height: 15%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0%;
  margin: 10px;
}
img.botonFavoritos2 {
  height: 4em;
  width: 2.7em;
  position: absolute;
  top: 0%;
  margin: 10px;
  left: 0;
  cursor: pointer;
}
img.botonFavoritos2.botonFavoritos2:hover {
  display: block;
  opacity: 1;
  transition: opacity 0.2s;
  transform: scale(1.1);
  transition: all 0.5s;
}
img.botonFavoritos2.hover {
  opacity: 0;
  display: block;
  transition: opacity 0.2s;
}
@media (min-width: 0px) and (max-width: 1200px) {
  img.botonFavoritos2:hover, img.botonFavoritos2 .hover {
    display: none;
  }
}
img.hover:hover {
  display: block;
}

p.descripcionPeli {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  p.descripcionPeli {
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
  }
}

.verReseñas {
  background-color: #F8BF68;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 80%;
}
.verReseñas:hover {
  background-color: #F7B147;
  transition: all 0.5s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .verReseñas {
    width: 90%;
    margin: 0;
  }
}

div.tituloFiltro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav.subMenu {
  background-color: #CA4A65;
}
@media only screen and (min-width: 991px) and (max-width: 2040px) {
  nav.subMenu {
    display: none;
  }
}
nav ul.subMenuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: calc(100vw - 1.1em);
  padding-left: 8px;
  padding-right: 8px;
  color: black;
}

footer.backgroundFooter {
  background-color: #CA4A65;
}
footer .colorText, footer p {
  color: #fafafa;
  text-decoration: none;
}
section.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 8em;
  align-items: center;
  margin-bottom: 200px;
}
section form.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: fit-content;
  width: 40%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
@media (min-width: 0px) and (max-width: 576px) {
  section form.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
    width: 20rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
}
section form .labelEInput {
  height: 3em;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: end;
}
section form .soloInput {
  padding: 10px;
  border-radius: 5px;
}
section button.iniciarSesion {
  background-color: #CA4A65;
  border: none;
  border-radius: 0.3em;
  padding: 0.625em;
  width: 100%;
  padding: 0.625em;
  margin-top: 2em;
  color: #fafafa;
}
section button.registrarme {
  background-color: #fafafa;
  border: solid black 0.1em;
  border-radius: 0.3em;
  padding: 0.625em;
  width: 100%;
  background-color: #fafafa;
  margin-top: 2em;
}
section .check {
  display: flex;
  flex-direction: auto;
  align-items: start;
  justify-content: start;
  margin-top: 2em;
  width: 100%;
}

p.noRegistrado {
  border-top: black 1px solid;
  width: 100%;
  text-align: center;
  padding: 16px;
}

div.logoRegistro {
  display: flex;
  flex-direction: auto;
  align-items: center;
  justify-content: center;
}

.reseñasTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;
}

div.contenedorBanner {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.reseñas {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div .bannerPelicula {
  height: fit-content;
  width: 80%;
  margin: 48px;
  padding: 0;
}
div.contenedorReseñas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  background-color: #CA4A65;
  border-radius: 8px;
}
div .fotoUsuario1 {
  height: 90px;
  width: 90px;
  margin: 0;
  padding: 0;
}
div .tuComentario {
  height: 10%;
  width: 100%;
  margin-top: 48px;
  border-radius: 8px;
  padding: 16px;
}
div .comentario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div .reseñasComentario {
  color: #fafafa;
}
div .enviar1 {
  background-color: #F8BF68;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  width: 30%;
  margin-top: 48px;
}

form .itemsRegistro {
  width: 100%;
}
form.formularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form .registroItems {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-decoration: none;
  width: 50%;
}

div .tituloRegistro {
  padding-left: 2%;
  padding-bottom: 2%;
}
div.contenedorFormularioRegistro {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 90%;
  margin-top: 96px;
  padding-left: 7%;
}
div .registroInput {
  width: 100%;
}
div .cancelarSuscripcion {
  background-color: inherit;
  border: solid 1px black;
  border-radius: 6px;
  padding: 8px;
  width: auto;
  top: 7px;
  right: 0px;
  bottom: 5px;
  left: 0px;
  display: block;
  width: fit-content;
  background-color: #fafafa;
  margin-right: 8px;
  margin-top: 16px;
}
div .suscripcion {
  background-color: inherit;
  border: inherit;
  border-radius: 6px;
  padding: 8px;
  width: auto;
  top: 7px;
  right: 0px;
  bottom: 5px;
  left: 0px;
  display: block;
  width: fit-content;
  background-color: #F8BF68;
  margin-top: 16px;
}
div .botonesSuscripcion {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
div.registroEstudiantil {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
div .monologo {
  width: 50%;
  padding-top: 96px;
  padding-right: 7%;
}

.adjuntarCertificado {
  background-color: inherit;
  border: solid 1px;
  border-radius: 6px;
  padding: 8px;
  width: auto;
  margin-top: 48px;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
