footer{
    &.footer__background{
        background-color: #CA4A65;
    }   
    .footer__textColor{
        color: map-get($map: $paleta, $key: 'white');
        text-decoration: none;
    }
    p{
        @extend .footer__textColor; 
    }    
}
