//mixins
@mixin flexBox($display,$flexDirection,$alignItems,$justifyCoxntent){
    display: $display;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyCoxntent;
}
@mixin botones($color,$border,$radius,$padding,$width){
    background-color: $color;
    border: $border;
    border-radius: $radius;
    padding: $padding;
    width: $width;
}
@mixin imagenes($height,$width,$margin,$padding){
    height: $height;
    width: $width;
    margin: $margin;
    padding: $padding;
}
@mixin margenes($top,$right,$bottom,$left){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin tamaño($height,$width){
    height: $height;
    width: $width;
}
@mixin margenPadding($margen,$padding){
    margin: $margen;
    padding: $padding;
}


section{
    &.contenedorFormulario{
        @include flexBox(flex,column ,center ,center );
        @include tamaño(fit-content,100%);
        margin-bottom: 8em;
        align-items: center;  
        margin-bottom: 200px;
            
    }
    form{
        &.formulario{
            @include flexBox(flex,column ,center ,start );
            @include tamaño(fit-content,40%);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
            padding: 1rem;
            @media (min-width:0px) and (max-width:576px) {
                @include flexBox(flex,column,center,start);
                @include tamaño(fit-content,20rem);
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
                    padding: 1rem;
            }    
        }
        .labelEInput{
            @include tamaño(3em,100%);
            margin-bottom: 5px;
            display: flex;
            align-items: end;
        }
        .soloInput{
            padding: 10px;
            border-radius: 5px;
        } 
    }
    button{
        &.iniciarSesion{
            @include botones(map-get($map: $paleta, $key: colorPrimario ),none, 0.3em ,0.625em ,100% );
            padding: 0.625em;
            margin-top: 2em;
            color: map-get($map: $paleta, $key: 'white' );
        }
        &.registrarme{
            @include botones(map-get($paleta, $key:'white'),solid black 0.1em, 0.3em ,0.625em ,100% );
            background-color: map-get($map: $paleta, $key: 'white' );
            margin-top: 2em;
        }
    }
    .check{
        @include flexBox(flex,auto ,start ,start );
        margin-top: 2em;
        width: 100%;
    } 
}
p{
    &.noRegistrado{ 
        border-top: black 1px solid;
        width: 100%;
        text-align: center;
        padding: 16px;
    } 
}
div{
    &.logoRegistro{
        @include flexBox(flex,auto ,center ,center );
    }
}





