main, section{
    &.container__formlogIn{
        @include flexBox(flex,column ,center ,center );
        @include tamaño(fit-content,100%);
        margin-bottom: 8em; 
        margin-bottom: 200px;    
    }
    form{
        &.container__form{
            @include flexBox(flex,column ,center ,start );
            @include tamaño(fit-content,40%);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
            padding: 1rem;
            @media (min-width:0px) and (max-width:576px) {
                @include flexBox(flex,column,center,start);
                @include tamaño(fit-content,20rem);
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
                    padding: 1rem;
            }    
        }
        .container__form__label{
            @include tamaño(3em,100%);
            margin-bottom: 5px;
            display: flex;
            align-items: end;
        }
        input{
            @extend .container__form__label;
            padding: 10px;
            border-radius: 5px; 
        }
         
    }
    button{
        &.container__formlogIn__buttonLogIn {
            @include botones(map-get($map: $paleta, $key: colorPrimario ),none, 0.3em ,0.625em ,100% );
            padding: 0.625em;
            margin-top: 2em;
            color: map-get($map: $paleta, $key: 'white' );
        }
        &.container__formlogIn__signUp{
            @include botones(map-get($paleta, $key:'white'),solid black 0.1em, 0.3em ,0.625em ,100% );
            background-color: map-get($map: $paleta, $key: 'white' );
            margin-top: 2em;
        }
    }
    .container__formlogIn__check{
        @include flexBox(flex,auto ,start ,start );
        margin-top: 2em;
        width: 100%;
    } 
}
p{
    &.container__formlogIn__notRegistered{ 
        border-top: black 1px solid;
        width: 100%;
        text-align: center;
        padding: 16px;
    } 
}
div{
    &.container__formlogIn__logo{
        @include flexBox(flex,auto ,center ,center );
    }
}





