nav{
    &.subMenu{
        background-color: map-get($map: $paleta, $key:colorPrimario );
        @media only screen and (min-width: 991px) and (max-width: 2040px){
            display: none;
        }
    }
    ul{
        &.subMenu__items{
            @include flexBox(flex,row , center ,space-around);
            width: calc(100% - 1.1em);
            padding-left: 8px;
            padding-right: 8px;
            color: black;
            cursor: pointer;
        }
    }
}